@import "_fonts.scss";

.main_carte{
    color: black;
    text-align: center;
}
.carte{
    display: flex;
    width: 400px;
    height: 500px;
    margin: 20px;
    align-items: center;
    justify-content:center;
    box-shadow: 0 0 7px 3px rgb(237, 237, 237); 
    border-radius: 1px;
    overflow: hidden;
    transition: opacity .500s ease-out;
    a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: transform .500s ease-out;

        &:hover {
            transform: scale(1.4, 1.4);
        }
    }

    &:hover {
        opacity: .5;
    }
}
.carte_1 {    
    background-color: #FCDFDB;
    font-family: niconneregular, serif;
    h2{
        color: #3E141A;
        font-size: 2em;
        font-family: devonshire, cursive;
        font-size: 2em;
    }
    h3{
        font-size: 2em;
        color: #3E141A;
        font-family: Tillana, cursive;
    }
}

.carte_2{
    background-color:#FFF5FE;
    h3{
        color: #D8852E;
        font-family: merriweather, serif;
        font-size: 2em;
    }
    h2{
    -webkit-text-fill-color: transparent;
    font-family: 'Croissant One',cursive;
    font-weight: lighter;
    font-size: 1.5em;
    background: -webkit-linear-gradient(300deg,#D8852E, #915DFC);
    -webkit-background-clip: text;
    }
}
.carte_3{
    background-color: #F9F9F9;
    h2{
        color: #1158E9;
        font-family: Dancing script, cursive;
        font-size: 2em;
    }
    h3{
        color: #3A9DFA;
        font-family: Bad Script, cursive;
        font-size: 2em;
    }
}
.carte_4{
    background-color: #FDFFFD;
    h2{
        color: #61B04D;
        font-family: kaushan script;
        font-size: 2em;
    }
    h3{
        color: #73BF57;
        font-family: Bad script, cursive;
        font-size: 2em;
    }
}