@font-face {
    font-family: 'niconneregular';
    src: url('fonts/Niconne-Regular-webfont.eot');
    src: url('fonts/Niconne-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Niconne-Regular-webfont.woff2') format('woff2'),
         url('fonts/Niconne-Regular-webfont.woff') format('woff'),
         url('fonts/Niconne-Regular-webfont.ttf') format('truetype'),
         url('fonts/Niconne-Regular-webfont.svg#niconneregular') format('svg');
    font-weight: normal;
    font-style: cursive;
}