/*Font_general*/
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v14-latin-regular.eot'); 
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/general/montserrat-v14-latin-regular.eot') format('embedded-opentype'), 
         url('../fonts/general/montserrat-v14-latin-regular.woff2') format('woff2'), 
         url('../fonts/general/montserrat-v14-latin-regular.woff') format('woff'), 
         url('../fonts/general/montserrat-v14-latin-regular.ttf') format('truetype'), 
         url('../fonts/general/montserrat-v14-latin-regular.svg') format('svg'); 
  }
/*Fonts_La note enchantée*/
@font-face {
    font-family: 'Niconne';
    font-style: normal;
    src: url('../fonts/niconne-v10-latin-regular.eot'); 
    src: local('Niconne'), local('Niconne-Regular'),
         url('../fonts/La-note-enchantee/niconne-v10-latin-regular.eot') format('embedded-opentype'), 
         url('../fonts/La-note-enchantee/niconne-v10-latin-regular.woff2') format('woff2'), 
         url('../fonts/La-note-enchantee/niconne-v10-latin-regular.woff') format('woff'),
         url('../fonts/La-note-enchantee/niconne-v10-latin-regular.ttf') format('truetype'), 
         url('../fonts/La-note-enchantee/niconne-v10-latin-regular.svg') format('svg'); 
  }
@font-face {
    font-family: 'Tillana';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/La-notetillana-v6-latin-regular.eot'); 
    src: local('Tillana Regular'), local('Tillana-Regular'),
         url('../fonts/La-note-enchantee/tillana-v6-latin-regular.eot') format('embedded-opentype'), 
         url('../fonts/La-note-enchantee/tillana-v6-latin-regular.woff2') format('woff2'), 
         url('../fonts/La-note-enchantee/tillana-v6-latin-regular.woff') format('woff'), 
         url('../fonts/La-note-enchantee/tillana-v6-latin-regular.ttf') format('truetype'), 
         url('../fonts/La-note-enchantee/tillana-v6-latin-regular.svg') format('svg');
  }
  /*Fonts_Le chic à la française*/
@font-face {
  font-family: 'Croissant One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/croissant-one-v8-latin-regular.eot'); 
  src: local('Croissant One'), local('CroissantOne-Regular'),
       url('../fonts/Le-chic-a-la-francaise/croissant-one-v8-latin-regular.eot') format('embedded-opentype'),
       url('../fonts/Le-chic-a-la-francaise/croissant-one-v8-latin-regular.woff2') format('woff2'), 
       url('../fonts/Le-chic-a-la-francaise/croissant-one-v8-latin-regular.woff') format('woff'), 
       url('../fonts/Le-chic-a-la-francaise/croissant-one-v8-latin-regular.ttf') format('truetype'),
       url('../fonts/Le-chic-a-la-francaise/croissant-one-v8-latin-regular.svg') format('svg');
}
/* merriweather-regular - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/merriweather-v21-latin-regular.eot'); 
  src: local('Merriweather Regular'), local('Merriweather-Regular'),
       url('../fonts/Le-chic-a-la-francaise/merriweather-v21-latin-regular.eot') format('embedded-opentype'), 
       url('../fonts/Le-chic-a-la-francaise/merriweather-v21-latin-regular.woff2') format('woff2'), 
       url('../fonts/Le-chic-a-la-francaise/merriweather-v21-latin-regular.woff') format('woff'),
       url('../fonts/Le-chic-a-la-francaise/merriweather-v21-latin-regular.ttf') format('truetype'), 
       url('../fonts/Le-chic-a-la-francaise/merriweather-v21-latin-regular.svg') format('svg');
}
/*FONTS LES DELICES DE PAPILLES*/
/* bad-script-regular - latin */
@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bad-script-v9-latin-regular.eot'); 
  src: local('Bad Script Regular'), local('BadScript-Regular'),
       url('../fonts/Le-delice-de-papille/bad-script-v9-latin-regular.eot') format('embedded-opentype'), 
       url('../fonts/Le-delice-de-papille/bad-script-v9-latin-regular.woff2') format('woff2'), 
       url('../fonts/Le-delice-de-papille/bad-script-v9-latin-regular.woff') format('woff'), 
       url('../fonts/Le-delice-de-papille/bad-script-v9-latin-regular.ttf') format('truetype'), 
       url('../fonts/Le-delice-de-papille/bad-script-v9-latin-regular.svg') format('svg'); 
}
@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kalam-v11-latin-regular.eot'); 
    src: local('Kalam'), local('Kalam-Regular'),
         url('../fonts/La-note-enchantee/kalam-v11-latin-regular.eot') format('embedded-opentype'), 
         url('../fonts/La-note-enchantee/kalam-v11-latin-regular.woff2') format('woff2'), 
         url('../fonts/La-note-enchantee/kalam-v11-latin-regular.woff') format('woff'), 
         url('../fonts/La-note-enchantee/kalam-v11-latin-regular.ttf') format('truetype'), 
         url('../fonts/La-note-enchantee/kalam-v11-latin-regular.svg') format('svg'); 
  }

  /*LA PALETTE DU GOUT*/
  /* kaushan-script-regular - latin */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/kaushan-script-v9-latin-regular.eot'); 
  src: local('Kaushan Script'), local('KaushanScript-Regular'),
       url('../fonts/La-palette-du-gout/kaushan-script-v9-latin-regular.eot') format('embedded-opentype'), 
       url('../fonts/La-palette-du-gout/kaushan-script-v9-latin-regular.woff2') format('woff2'), 
       url('../fonts/La-palette-du-gout/kaushan-script-v9-latin-regular.woff') format('woff'), 
       url('../fonts/La-palette-du-gout/kaushan-script-v9-latin-regular.ttf') format('truetype'), 
       url('../fonts/La-palette-du-gout/kaushan-script-v9-latin-regular.svg') format('svg'); 
}

/* dancing-script-regular - latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dancing-script-v15-latin-regular.eot'); 
  src: local(''),
       url('../fonts/La-palette-du-gout/dancing-script-v15-latin-regular.eot') format('embedded-opentype'), 
       url('../fonts/La-palette-du-gout/dancing-script-v15-latin-regular.woff2') format('woff2'), 
       url('../fonts/La-palette-du-gout/dancing-script-v15-latin-regular.woff') format('woff'), 
       url('../fonts/La-palette-du-gout/dancing-script-v15-latin-regular.ttf') format('truetype'), 
       url('../fonts/La-palette-du-gout/dancing-script-v15-latin-regular.svg') format('svg'); 
}