@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v14-latin-regular.eot'); 
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/general/montserrat-v14-latin-regular.eot') format('embedded-opentype'), 
         url('../fonts/general/montserrat-v14-latin-regular.woff2') format('woff2'), 
         url('../fonts/general/montserrat-v14-latin-regular.woff') format('woff'), 
         url('../fonts/general/montserrat-v14-latin-regular.ttf') format('truetype'), 
         url('../fonts/general/montserrat-v14-latin-regular.svg') format('svg'); 
  }
@font-face {
    font-family: 'Niconne';
    font-style: normal;
    src: url('../fonts/niconne-v10-latin-regular.eot'); 
    src: local('Niconne'), local('Niconne-Regular'),
         url('../fonts/La-note-enchantee/niconne-v10-latin-regular.eot') format('embedded-opentype'), 
         url('../fonts/La-note-enchantee/niconne-v10-latin-regular.woff2') format('woff2'), 
         url('../fonts/La-note-enchantee/niconne-v10-latin-regular.woff') format('woff'),
         url('../fonts/La-note-enchantee/niconne-v10-latin-regular.ttf') format('truetype'), 
         url('../fonts/La-note-enchantee/niconne-v10-latin-regular.svg') format('svg'); 
  }
@font-face {
    font-family: 'Tillana';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/La-notetillana-v6-latin-regular.eot'); 
    src: local('Tillana Regular'), local('Tillana-Regular'),
         url('../fonts/La-note-enchantee/tillana-v6-latin-regular.eot') format('embedded-opentype'), 
         url('../fonts/La-note-enchantee/tillana-v6-latin-regular.woff2') format('woff2'), 
         url('../fonts/La-note-enchantee/tillana-v6-latin-regular.woff') format('woff'), 
         url('../fonts/La-note-enchantee/tillana-v6-latin-regular.ttf') format('truetype'), 
         url('../fonts/La-note-enchantee/tillana-v6-latin-regular.svg') format('svg');
  }
@font-face {
    font-family: 'DancingScript-Regular';
    src: url('../fonts/Le-delice-de-papille/DancingScript-Regular.ttf') format('truetyle'),
         url('../fonts/Le-delice-de-papille/DancingScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-style: normal;
    src: url('../fonts/kalam-v11-latin-regular.eot'); 
    src: local('Kalam'), local('Kalam-Regular'),
         url('../fonts/La-note-enchantee/kalam-v11-latin-regular.eot') format('embedded-opentype'), 
         url('../fonts/La-note-enchantee/kalam-v11-latin-regular.woff2') format('woff2'), 
         url('../fonts/La-note-enchantee/kalam-v11-latin-regular.woff') format('woff'), 
         url('../fonts/La-note-enchantee/kalam-v11-latin-regular.ttf') format('truetype'), 
         url('../fonts/La-note-enchantee/kalam-v11-latin-regular.svg') format('svg'); 
  }