body{
    margin: 0;
    margin-bottom: 60px;
    font-family: montserrat;
    font-size: 1em;
    background-color:#fff;
    overflow-x: hidden;
}
header{
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: $primary;
    text-decoration: none;
    padding: 20px 0;
    height: 40px;
}
h1{
    color: #FCCA46;
}
h3.menu_entrée, h3.menu_plats, h3.menu_dessert{
    text-align: center;
}
ul{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
li{
    display: flex;
    flex-wrap: nowrap;
    justify-items: baseline;
    justify-content: space-between;
} 
a{
    text-align: center;
    text-decoration: none;
    img.notemusic{
        width: 25px;
        height: 25px;
       
    }    
}
.wrapper{
    max-width: 1024px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}
.aurevoir{
    background-color: #579C87;
    color: #FCCA46;
    border: 1px solid #579C87;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    font-size:1.5em;
    height: 40px;
    letter-spacing: 0.2em;
    display: block;
}
span{
    padding-left: 10px;
    animation: dots 2.5s ease-in-out infinite;
}
@keyframes dots{
    0%{
        transform: scale(0.2);
    }
    50% {
        transform: scale(1);
    }
}

