.section_menu_3{
    background-color: $quaternary;
    flex-basis: auto;
    margin: 0 auto 80px auto;
    text-align: center;   
    max-width: 750px;
    font-family: kalam, cursive;
    .subline span {
        position: relative;
        &:hover {
            &::after {
                width: 100%;
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            background: black;
            bottom: 0;
            left: 0;
            transition: width .250s ease;
        }
    }
    h2{
        font-family: Dancing script, cursive;
        color: #1158E9;
    }
    img{
        width: 150px;
    }
}

