.section_menu_2{
    background-color: $tertiary;
    flex-basis: auto;
    margin: 0 auto 80px auto;
    text-align: center;
    max-width: 750px;
    font-family: merriweather, serif;
    li{
        color: #C67412;
    }
    h2{
        font-family: croissant one;
        color: #C67412;
    }
    h3{
        color: #C67412;
    }
    .menu_dessert{
        color: #6E4CCC;
    }
}
