.section_menu_1{
    background-color: $secondary;
    flex-basis: auto;
    margin: 0 auto 80px auto;
    text-align: center; 
    font-family: 'Kalam', cursive;
    max-width: 750px;
    .subline span {
        position: relative;
        &:hover {
            &::after {
                width: 100%;
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            background: black;
            bottom: 0;
            left: 0;
            transition: width .250s ease;
        }
    }
    h2{
        font-family: devonshire, cursive;
        color: #3D1319;
        font-size: 3em;
    }
    img{
        width: 200px;
    }

    .title-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

        img {
            margin: 0 10px 0 0;
        }

        p {
            margin: 0;
        }
    }

    .notemusic {
        margin-top: 20px;
    }
} 
