.section_menu_4{
    background-color: $colorfive;
    flex-basis: auto;
    margin: 0 auto 80px auto;
    text-align: center;
    max-width: 750px;
    font-family: kalam, cursive;
    h2{
        font-family: kaushan script;
        color: #61B04D;
    }
}