.section_menu_2{
    background-color: $tertiary;
    flex-basis: auto;
    margin: 0 auto 80px auto;
    text-align: center;
    max-width: 750px;
    font-family: merriweather, serif;
    box-shadow: 0 0 7px 3px rgb(237, 237, 237);
    .subline span {
        position: relative;
        &:hover {
            &::after {
                width: 100%;
            }
        }
        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            background: black;
            bottom: 0;
            left: 0;
            transition: width .250s ease;
        }
    }
    li{
        color: #C67412;
    }
    h2{
        font-family: croissant one;
        color: #C67412;
    }
    h3{
        color: #C67412;
        img{
            width: 200px;
        }
    }
    .liste_dessert ul{
        color: #6E4CCC;
    }
}
