@media screen and (max-width: 768px){
    .header, footer
    {
        flex-basis: 100%;
        margin: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .wrapper{
        flex-basis: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .main{
        flex-basis: auto;
    }
    .carte{
        display: block;
        width: auto;
        height: auto;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .header, footer
    {
        flex-basis: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .wrapper{
        flex-basis: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (min-width:770px) and (max-width:1024px){
    .header, footer
    {
        flex-basis: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .wrapper{
        flex-basis: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (min-width:1025px) and (max-width:1400px){
    body{
        margin: 0;
    }
    .header, footer
    {
        flex-basis: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .wrapper{
        flex-basis: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .carte{
        display: block;
        width: auto;
        height: auto;
    }
}
@media screen and (min-width:1401px) and (max-width:1600px){
    .header, footer
    {
        flex-basis: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .wrapper{
        flex-basis: 100%;
        margin-left: 0;
        margin-right: 0;
    }
} 