@import "_fonts.scss";
@import '_variables.scss';
@import '_responsive.scss';
@import '_cartes.scss';
@import '_menu1.scss';
@import '_menu2.scss';
@import '_menu3.scss';
@import '_menu4.scss';
@import "_footer.scss";

body{
    margin: 0;
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color:#fff;
    overflow-x: hidden;
}
header{
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: $primary;
    text-decoration: none;
    padding: 20px 0;
    height: 40px;
}
h1{
    color: #FCCA46;
}
h3.menu_entrée, h3.menu_plats, h3.menu_dessert{
    text-align: center;
}
ul{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
li{
    display: flex;
    flex-wrap: nowrap;
    justify-items: baseline;
    justify-content: space-between;
} 
a{
    text-align: center;
    text-decoration: none;
}
.wrapper{
    max-width: 1024px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}
.aurevoir{
    background-color: #579C87;
    color: #FCCA46;
    border: 1px solid #579C87;
    border-radius: 20px;
    margin-left: 45%;
    margin-bottom: 20px;
    font-size:1.5em;
    height: 40px;
}

/*RESPONSIVE*/
@media screen and (max-width: 768px){
    .header, footer{
        flex-basis: 100%;
        margin: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .wrapper{
        flex-basis: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .main_carte{
        flex-basis: auto;
        width: auto;
    }
    .carte{
        display: grid;
        margin: 0;
    }
    .section_menu_1{
        width:100%;
        height:100%;
    }

}
    
@media screen and (min-width: 769px) and (max-width: 1024px){
    .header, footer
    {
        flex-basis: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .wrapper{
        flex-basis: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (min-width:770px) and (max-width:1024px){
    .header, footer
    {
        flex-basis: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .wrapper{
        flex-basis: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (min-width:1025px) and (max-width:1400px){
    .header, footer
    {
        flex-basis: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .wrapper{
        flex-basis: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .carte{
        flex-basis: auto;
        height: auto;
    }
}
@media screen and (min-width:1401px) and (max-width:1600px){
    .header, footer
    {
        flex-basis: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .wrapper{
        flex-basis: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

