/*Variables*/
$primary:#579c87;
$secondary:#FCDFDB;
$tertiary:#FFF5FE;
$quaternary:#F9F9F9;
$colorfive:#FDFFFD;
/*PAGE D'ACCEUIL--PAGE D'ACCUEIL--PAGE D'ACCEUIL--PAGE D'ACCUEIL*/
body{
    margin: 0 0 40px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color:#fff;
}
header{
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: $primary;
    text-decoration: none;
    padding: 20px 0;
    height: 40px;
}
h1{
    color: #FCCA46;
}
h3{
    text-align: center;
}
ul{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
li{
    display: flex;
    flex-wrap: nowrap;
    justify-items: baseline;
    justify-content: space-between;
} 

a{
    text-align: center;
    text-decoration: none;
}
.wrapper{
    max-width: 1024px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 280px;
}
/*MENU MENU MENU MENU MENU*/
.main_carte{
    text-align: center;
}
/*CARTE CARTE CARTE CARTE CARTE CARTE*/
.carte{
    display: flex;
    width: 400px;
    height: 500px;
    margin: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content:center;
    box-shadow: 0 3px 3px 0; 
    border-radius: 1px;
}
/*MENU 1 MENU 1 MENU 1 MENU 1*/
.carte_1 {
    background-color: #FCDFDB;
    h2{
        color: #3E141A;
        font-family: niconne, cursive;
        font-size: 2em;
    }
    h3{
        font-family: niconne, cursive;
        font-size: 2em;
        color: #3E141A;
    }
}
/*MENU 2 MENU 2 MENU 2 MENU 2*/
.carte_2{
    background-color:$tertiary;
    h2{
        color:#C57A66;
    }
    h3{
        color: #D8852E;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 2em;
    }
}
/*MENU 3 MENU 3 MENU 3 MENU 3*/
.carte_3{
    background-color: #F9F9F9;
    h2{
        color: #1158E9;
        font-family: niconne, cursive, Arial, sans-serif;
    }
    h3{
        color: #3A9DFA;
        font-family: niconne, cursive, Arial, sans-serif;
        font-size: 2em;
    }
}
/*MENU 4 MENU 4 MENU 4 MENU 4*/
.carte_4{
    background-color: #FDFFFD;
    h2{
        color: #61B04D;
        font-family: niconne, cursive, Arial, sans-serif;
    }
    h3{
        color: #73BF57;
        font-family: niconne, cursive, Arial, sans-serif;
        font-size: 2em;
    }
}
/*PROCHAINEMENT PROCHAINEMENT PROCHAINEMENT PROCHAINEMENT*/
.aurevoir{
    background-color: #579C87;
    color: #FCCA46;
    border: 1px solid #579C87;
    border-radius: 20px;
    margin-left: 40%;
    margin-bottom: 20px;
    font-size:1.5em;
    height: 40px;
}
/*FOOTER FOOTER FOOTER FOOTER FOOTER*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #579C87;
    align-items: center;
    height: 40px;
    position: fixed;
    bottom:0;
    width: 100%;
    a{
        color: #FCCA46;
        font-size: 1.5em;
        margin-left: 10px;
        margin-right: 10px;
    }
}
/*SECTION SECTION SECTION SECTION SECTION*/

/*LA NOTE ENCHANTEE LA NOTE ENCHANTEE LA NOTE ENCHANTEE LA NOTE ENCHANTEE LA NOTE ENCHANTEELA NOTE ENCHANTEE*/
.section_menu_1{
    background-color: $secondary;
    flex-basis: auto;
    margin: 0 450px;
    margin-bottom: 80px;
    text-align: center; 
    font-family: niconne, cursive; 
}
/*LE CHIC A LA FRANCAISE LE CHIC A LA FRANCAISE LE CHIC A LA FRANCAISE LE CHIC A LA FRANCAISE LE CHIC A LA FRANCAISE*/
.section_menu_2{
    background-color: $tertiary;
    flex-basis: auto;
    margin: 0 450px;
    margin-bottom: 80px;
    text-align: center;
    
}
/*LE DELICE DES PAPILLES LE DELICE DES PAPILLES LE DELICE DES PAPILLES LE DELICE DES PAPILLES LE DELICE DES PAPILLES*/ 
.section_menu_3{
    background-color: $quaternary;
    flex-basis: auto;
    margin: 0 450px;
    margin-bottom: 80px;
    text-align: center;  
    font-family: niconne, cursive;  
}
/*LA PALETTE DU GOUT LA PALETTE DU GOUT LA PALETTE DU GOUT LA PALETTE DU GOUT LA PALETTE DU GOUT LA PALETTE DU GOUT*/ 
.section_menu_4{
    background-color: $colorfive;
    flex-basis: auto;
    margin: 0 450px;
    margin-bottom: 80px;
    text-align: center;
    font-family: niconne, cursive;
}

